<mat-sidenav-container>
  <!-- EDITOR BODY -->
  <div class="wrapper">
    <section *ngIf="survey">
      <h4>{{ survey.name }}</h4>
      <div dnd-droppable (onDropSuccess)="addQuestionToSurvey($event)" id="dropzone">
        <div *ngFor="let question of survey.questions; index as i;" (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = null" [ngSwitch]="question.type">

          <!-- If question type is text -->
          <div class="surveyQuestion" *ngSwitchCase="'text'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is radio -->
          <div class="surveyQuestion" *ngSwitchCase="'radio'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <p class="checkboxLabel" *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></p>
                <div class="checkboxOuter">
                  <div class="checkboxInner" *ngFor="let button of question.options.questionOptions">
                    <input type="radio" name="{{button}}" value="{{button}}">{{button}}
                  </div>
                </div>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>  
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is checkbox -->
          <div class="surveyQuestion" *ngSwitchCase="'checkbox'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <p class="checkboxLabel" *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{question.label}}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></p>
                <div class="checkboxOuter">
                  <div class="checkboxInner" *ngFor="let option of question.options.questionOptions">
                    <input type="checkbox" name="{{option}}" value="{{option}}">  
                    <label for="{{option}}">{{ option }}</label>
                  </div>
                </div>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is select list -->
          <div class="surveyQuestion" *ngSwitchCase="'select'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <select><option *ngFor="let option of question.options.questionOptions">{{option}}</option></select>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is textarea -->
          <div class="surveyQuestion" *ngSwitchCase="'textarea'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <textarea [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" cols="20" rows="3"></textarea>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is profile -->
          <div class="surveyQuestion" *ngSwitchCase="'profile'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is grid -->
          <div class="surveyQuestion" *ngSwitchCase="'grid'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide gridQuestion" [ngStyle]="{'padding': question.options.padding}">
              <p *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></p>
              <table class="gridTable" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="gridTableHeaderRow" [ngStyle]="{'background-color':question.options.headerBackground}">&nbsp;</td>
                  <td  class="gridTableHeaderRow" [ngStyle]="{'background-color':question.options.headerBackground, 'color': question.options.headerColor}" *ngFor="let header of question.options.ratings">{{header}}</td>
                </tr>
                <tr class="gridTableRow" *ngFor="let option of question.options.questionOptions">
                  <td [ngStyle]="{'background-color': question.options.leftColumnBackground, 'color': question.options.leftColumnColor}">{{option}}</td>
                  <td *ngFor="let rating of question.options.ratings">
                    <input *ngIf="question.options.gridType == 'radio'" type="radio">
                    <input *ngIf="question.options.gridType == 'checkbox'" type="checkbox">
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is phone -->
          <div class="surveyQuestion" *ngSwitchCase="'phone'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is email -->
          <div class="surveyQuestion" *ngSwitchCase="'email'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="email">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is address -->
          <div class="surveyQuestion" *ngSwitchCase="'address'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
              <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
              <div class="addressBlock">
                <input placeholder="Street Address" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
                <input placeholder="Street Address 2" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
                <input placeholder="City" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
                <input placeholder="State" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
                <input placeholder="Postal/Zip" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text">
              </div>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If question type is heading -->
          <div class="surveyQuestion heading" *ngSwitchCase="'heading'" [ngStyle]="{'justify-content': question.align, 'padding': question.padding}">
            <div class="questionSide" [ngSwitch]="question.size">
              <h5 *ngSwitchCase="'h5'" [ngStyle]="{'color': question.color}">{{question.label}}</h5>
              <h3 *ngSwitchCase="'h3'" [ngStyle]="{'color': question.color}">{{question.label}}</h3>
              <h1 *ngSwitchCase="'h1'" [ngStyle]="{'color': question.color}">{{question.label}}</h1>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If question type is paragraph -->
          <div class="surveyQuestion" *ngSwitchCase="'paragraph'" [ngStyle]="{'justify-content': question.align}">
            <div class="questionSide">
              <p [ngStyle]="{'font-size': question.size, 'color': question.color}">{{question.label}}</p>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If question type is image -->
          <div class="surveyQuestion" *ngSwitchCase="'image'">
            <div class="questionSide" [ngStyle]="{'justify-content': question.align}">
                <img [src]="question.src" [ngStyle]="{'width': question.width}">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If question type is divider -->
          <div class="surveyQuestion" *ngSwitchCase="'divider'">
            <div class="questionSide divider" [ngStyle]="{'width': question.width, 'border-bottom-width': question.borderWidth, 'border-color': question.color, 'border-bottom-style': question.borderStyle}"></div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If question type is spacer -->
          <div class="surveyQuestion" *ngSwitchCase="'spacer'">
            <div class="questionSide spacer" [ngStyle]="{'height': question.height}"></div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

          <!-- If element type is button -->
          <div class="surveyQuestion" *ngSwitchCase="'button'"[ngStyle]="{'justify-content': question.align}">
            <div class="questionSide">
              <input (mouseover)="hover = true" (mouseout)="hover = null" type="button" class="draggedButton" [value]="question.label" [ngStyle]="{'background-color': hover ? question.hoverBackground : question.backgroundColor, 'color': hover ? question.hoverColor : question.color, 'border': question.border, 'border-radius': question.borderRadius, 'margin': question.margin, 'width': question.width, 'height': question.height}">
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>

        </div>
      </div>
      <button id="exportButton" mat-raised-button (click)="exportHTML()">EXPORT HTML</button>
    </section>

    <!-- QUESTION BANK -->
    <mat-tab-group>
      <mat-tab label="Questions">
        <section id="questionBank">
          <mat-card id="text" title="Single Text Field" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your text: ', type: 'text', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Text'}}">
            <mat-icon>short_text</mat-icon>
          </mat-card>
          <mat-card id="longText" title="Long Text Field" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your text: ', type: 'textarea', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Long Text'}}">
            <mat-icon>subject</mat-icon>
          </mat-card>
          <mat-card id="email" title="Email" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Email: ', type: 'email', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Email'}}">
            <mat-icon>mail_outline</mat-icon>
          </mat-card>
          <mat-card id="address" title="Address" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Address: ', type: 'address', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a'}}">
            <mat-icon>place</mat-icon>
          </mat-card>
          <mat-card id="phone" title="Phone" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Phone: ', type: 'phone', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Phone'}}">
            <mat-icon>phone</mat-icon>
          </mat-card>
          <mat-card id="dropdown" title="Dropdown List" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Dropdown list: ', type: 'select', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
            <mat-icon>toc</mat-icon>
          </mat-card>
          <mat-card id="radio" title="Radio Button" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Radio Question: ', type: 'radio', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
            <mat-icon>radio_button_checked</mat-icon>
          </mat-card>
          <mat-card id="checkbox" title="Checkbox" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Checkbox Question: ', type: 'checkbox', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
              <mat-icon>check_box</mat-icon>
          </mat-card>
          <mat-card id="grid" title="Grid" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Grid question: ', type: 'grid', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', gridType: 'radio', headerBackground: '#7f7f7f', headerColor: '#262626', leftColumnBackground: '#ffffff', leftColumnColor: '#262626', questionOptions: ['New Option'], ratings: ['New Rating']}}">
            <mat-icon>view_module</mat-icon>
          </mat-card>
        </section>
      </mat-tab>
      <mat-tab label="Elements">
        <section id="elementBank">
          <mat-card id="header" title="Heading" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Heading', type: 'heading', size: 'h1', color: '#262626', align: 'flex-start', padding: '0px 0px 0px 0px'}">
            <mat-icon>title</mat-icon>
          </mat-card>
          <mat-card id="paragraph" title="Text Block" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Lorem ipsum dolor sit amet', type: 'paragraph', size: '14px', color: '#262626', align: 'flex-start'}">
            <mat-icon>text_fields</mat-icon>
          </mat-card>
          <mat-card id="image" title="Image" dnd-draggable [dragEnabled]="true" [dragData]="{src: '../../assets/placeholder.png', type: 'image', width: '80%', align: 'flex-start'}">
            <mat-icon>image</mat-icon>
          </mat-card>
          <mat-card id="divider" title="Divider" dnd-draggable [dragEnabled]="true" [dragData]="{type: 'divider', width: '80%', borderWidth: '3px', borderStyle: 'solid', color: '#262626'}">
            <mat-icon>remove</mat-icon>
          </mat-card>
          <mat-card id="spacer" title="Spacer" dnd-draggable [dragEnabled]="true" [dragData]="{type: 'spacer', height: '10px'}">
            <mat-icon>crop_16_9</mat-icon>
          </mat-card>
          <mat-card id="button" title="Submit Button" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Button', type: 'button', backgroundColor: '#9f9f9f', color: '#262626', margin: '0px 0px 0px 0px', width: '100px', height: '25px', align: 'flex-start', hoverBackground: '#dddddd', hoverColor: '#ffffff', border: '1px solid #000000', borderRadius: '0px'}">
            <mat-icon>touch_app</mat-icon>
          </mat-card>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  <!--  QUESTION SETTINGS SIDENAV -->
  <mat-sidenav position="end" #sidenav (close)="tempQuestionOptions = [' ']" (close)="tempRatings = [' ']" [ngSwitch]="editQuestionType">
    
    <!-- TEXT CONTROL --> 
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'text'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- TEXT AREA CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'textarea'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- EMAIL CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'email'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- ADDRESS CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'address'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- PHONE CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'phone'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- SELECT CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'select'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- RADIO CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'radio'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- CHECKBOX CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'checkbox'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- GRID CONTROL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'grid'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <p>Grid Type</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.gridType">
        <mat-button-toggle value="radio"><mat-icon>radio_button_checked</mat-icon></mat-button-toggle>
        <mat-button-toggle value="checkbox"><mat-icon>check_box</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.headerBackground" placeholder="Header Background Color">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.headerColor" placeholder="Header Text Color">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.leftColumnBackground" placeholder="Left Column Background Color">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.leftColumnColor" placeholder="Left Column Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
      <p>Rating Options</p>
      <div id="questionOptionList" *ngFor="let rating of tempRatings; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.ratings[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addRatingOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>

    <!-- HEADING ELEMENT -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'heading'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Heading">
      </mat-form-field>
      <p>Size</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.size">
        <mat-button-toggle value="h5" id="smallT">T</mat-button-toggle>
        <mat-button-toggle value="h3" id="mediumT">T</mat-button-toggle>
        <mat-button-toggle value="h1" id="largeT">T</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.color" placeholder="Text Color">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.padding" placeholder="Padding">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- TEXT ELEMENT -->
      <div class="questionSettingsSideNavForm" *ngSwitchCase="'paragraph'">
        <mat-form-field>
          <textarea matInput [(ngModel)]="questionToEdit.label" placeholder="Lorem ipsum dolor sit amet"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.size" placeholder="Font Size">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.color" placeholder="Text Color">
        </mat-form-field>
        <p>Alignment</p>
        <mat-button-toggle-group [(ngModel)]="questionToEdit.align">
          <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
          <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
          <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- IMAGE ELEMENT -->
      <div class="questionSettingsSideNavForm" *ngSwitchCase="'image'">
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.src" placeholder="URL to image">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.width" placeholder="Width in percentage">
        </mat-form-field>
        <p>Alignment</p>
        <mat-button-toggle-group [(ngModel)]="questionToEdit.align">
          <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
          <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
          <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- DIVIDER ELEMENT -->
      <div class="questionSettingsSideNavForm" *ngSwitchCase="'divider'">
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.width" placeholder="Divider Width">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.borderWidth" placeholder="Border Thickness">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.borderStyle" placeholder="Border Style">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.color" placeholder="Border Color">
        </mat-form-field>
      </div>

      <!-- SPACER ELEMENT -->
      <div class="questionSettingsSideNavForm" *ngSwitchCase="'spacer'">
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.height" placeholder="Height">
        </mat-form-field>
      </div>

      <!-- BUTTON ELEMENT -->
      <div class="questionSettingsSideNavForm" *ngSwitchCase="'button'">
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.label" placeholder="Button Text">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.backgroundColor" placeholder="Background Color">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.hoverBackground" placeholder="Hover Background Color">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.color" placeholder="Text Color">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.hoverColor" placeholder="Hover Text Color">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.margin" placeholder="Margin">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.width" placeholder="Button Width">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.height" placeholder="Button Height">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="questionToEdit.border" placeholder="Border">
        </mat-form-field>
        <p>Alignment</p>
        <mat-button-toggle-group [(ngModel)]="questionToEdit.align">
          <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
          <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
          <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
        <p>Border Radius:</p>
        <mat-button-toggle-group [(ngModel)]="questionToEdit.borderRadius">
          <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
          <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
          <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  </mat-sidenav> 
</mat-sidenav-container> 
