<mat-sidenav-container>
  <!-- EDITOR BODY -->
  <div class="wrapper">
    <section *ngIf="survey">
      <h4>{{ survey.name }}</h4>
      <div dnd-droppable (onDropSuccess)="addQuestionToSurvey($event)" id="dropzone">
        <div *ngFor="let question of survey.questions; index as i;" (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = null" [ngSwitch]="question.type">

          <!-- If question type is text -->
          <div class="surveyQuestion" *ngSwitchCase="'text'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is radio -->
          <div class="surveyQuestion" *ngSwitchCase="'radio'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input type="radio" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
              <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>  
              <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is checkbox -->
          <div class="surveyQuestion" *ngSwitchCase="'checkbox'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input type="checkbox" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is select list -->
          <div class="surveyQuestion" *ngSwitchCase="'select'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <select disabled><option>Default</option></select>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is textarea -->
          <div class="surveyQuestion" *ngSwitchCase="'textarea'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <textarea [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" cols="20" rows="3" disabled></textarea>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is profile -->
          <div class="surveyQuestion" *ngSwitchCase="'profile'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is grid -->
          <div class="surveyQuestion" *ngSwitchCase="'grid'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input type="radio" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is phone -->
          <div class="surveyQuestion" *ngSwitchCase="'phone'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is email -->
          <div class="surveyQuestion" *ngSwitchCase="'email'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="email" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
          
          <!-- If question type is address -->
          <div class="surveyQuestion" *ngSwitchCase="'address'" [ngStyle]="{'justify-content': question.options.align}">
            <div class="questionSide" [ngStyle]="{'padding': question.options.padding}">
                <label *ngIf="!question.options.hideQuestion" [ngStyle]="{'color': question.options.color}">{{ question.label }}<span *ngIf="question.options.responseRequired" class="requiredStar">*</span></label>
                <input [placeholder]="question.options.placeholder" [ngStyle]="{'border-radius': question.options.borderRadius, 'border': question.options.border}" type="text" disabled>
            </div>
            <div *ngIf="i == hoveredIndex" class="iconBlock">
                <mat-icon (click)="sidenav.open(); adjustQuestionSettings(question)">settings</mat-icon>
                <mat-icon (click)="deleteQuestion(survey, question)">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <button id="exportButton" mat-raised-button (click)="exportHTML()">EXPORT HTML</button>
    </section>

    <!-- QUESTION BANK -->
    <mat-tab-group>
      <mat-tab label="Questions">
        <section id="questionBank">
          <mat-card id="text" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your text: ', type: 'text', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Text'}}">
            <mat-icon>short_text</mat-icon>
          </mat-card>
          <mat-card id="longText" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your text: ', type: 'textarea', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Long Text'}}">
            <mat-icon>subject</mat-icon>
          </mat-card>
          <mat-card id="email" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your email: ', type: 'email', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Email'}}">
            <mat-icon>mail_outline</mat-icon>
          </mat-card>
          <mat-card id="address" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your address: ', type: 'address', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Address'}}">
            <mat-icon>place</mat-icon>
          </mat-card>
          <mat-card id="phone" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Enter your phone number: ', type: 'phone', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', borderRadius: '0px', border: '1px solid #5a5a5a', placeholder: 'Phone'}}">
            <mat-icon>phone</mat-icon>
          </mat-card>
          <mat-card id="dropdown" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Dropdown list: ', type: 'select', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
            <mat-icon>toc</mat-icon>
          </mat-card>
          <mat-card id="radio" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Radio Question: ', type: 'radio', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
            <mat-icon>radio_button_checked</mat-icon>
          </mat-card>
          <mat-card id="checkbox" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Checkbox Question: ', type: 'checkbox', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option']}}">
              <mat-icon>check_box</mat-icon>
          </mat-card>
          <mat-card id="grid" dnd-draggable [dragEnabled]="true" [dragData]="{label: 'Grid question: ', type: 'grid', options: {hideQuestion: false, responseRequired: false, padding: '0px 0px 0px 0px', color: '#262626', align: 'flex-start', questionOptions: ['New Option'], ratings: ['New Rating']}}">
            <mat-icon>view_module</mat-icon>
          </mat-card>
        </section>
      </mat-tab>
      <mat-tab label="Elements">
        <p>Example Element</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  <!--  QUESTION SETTINGS SIDENAV -->
  <mat-sidenav position="end" #sidenav (close)="tempQuestionOptions = [' ']" (close)="tempRatings = [' ']" [ngSwitch]="editQuestionType">
    
    <!-- TEXT QUESTION --> 
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'text'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- TEXT AREA -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'textarea'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- EMAIL -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'email'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- ADDRESS -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'address'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- PHONE -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'phone'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.placeholder" placeholder="Question Placeholder Text"> 
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.border" placeholder="Border">
      </mat-form-field>
      <p>Border Radius:</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.borderRadius">
        <mat-button-toggle value="0px"><mat-icon>border_style</mat-icon></mat-button-toggle>
        <mat-button-toggle value="5px"><mat-icon>rounded_corner</mat-icon></mat-button-toggle>
        <mat-button-toggle value="10px"><mat-icon>radio_button_unchecked</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
    <!-- SELECT -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'select'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- RADIO -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'radio'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- CHECKBOX -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'checkbox'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    
    <!-- GRID -->
    <div class="questionSettingsSideNavForm" *ngSwitchCase="'grid'">
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.label" placeholder="Question Text">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.hideQuestion">Hide Question?</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="questionToEdit.options.responseRequired">Answer Required?</mat-slide-toggle>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.padding" placeholder="Padding">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="questionToEdit.options.color" placeholder="Text Color">
      </mat-form-field>
      <p>Alignment</p>
      <mat-button-toggle-group [(ngModel)]="questionToEdit.options.align">
        <mat-button-toggle value="flex-start"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
        <mat-button-toggle value="center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flex-end"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
      <p>Answer Options</p>
      <div id="questionOptionList" *ngFor="let option of tempQuestionOptions; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.questionOptions[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addQuestionOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
      <p>Rating Options</p>
      <div id="questionOptionList" *ngFor="let rating of tempRatings; index as i; last as isLast;">
        <input type="text" [(ngModel)]="questionToEdit.options.ratings[i]">
        <button id="addInputButton" title="Add option" *ngIf="isLast" (click)="addRatingOption()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    <button id="saveQuestionSettingsButton" mat-raised-button (click)="saveQuestionSettings()">SAVE SETTINGS</button>
  </mat-sidenav> 
</mat-sidenav-container> 
