
.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 0px 20px;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
}

#questionBank {
  width: 150px;
  display: grid;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-height: 400px;
}

#questionBank mat-card {
  height: 25px;
}

#elementBank {
  width: 150px;
  display: grid;
  padding: 20px 0px 10px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-height: 400px;
}

#elementBank mat-card {
  height: 25px;
}

mat-tab-group {
  margin-left: auto;
  margin-right: 10px;
}

#dropzone {
  width: 500px;
  border: 1px dashed green;
  background-color: #ffffff;
  padding: 10px 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  cursor: auto !important;
}

.surveyQuestion {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 30px;
}

.questionSide {
  margin-right: 50px;
  display: flex;
  align-items: flex-start;
}

.heading {
  max-height: 40px;
}

h1, h3, h5 {
  margin: 0;
}

.checkboxLabel {
  margin-top: 3px;
}

.checkboxOuter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxInner {
  display: flex;
  align-items: center;
}

.addressBlock {
  display: flex;
  flex-direction: column;
}

.addressBlock input {
  padding: 5px 0px;
  margin-bottom: 8px;
}

.gridTable {
  border: 1px solid #000000;
}

.gridTable td {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 10px 10px;
}

.gridTableRow td {
  text-align: center;
}

.iconBlock {
  position: absolute;
  left: 45%;
}

.surveyQuestion label {
  padding-right: 5px;
}

.surveyQuestion input {
  background-color: transparent;
  height: 20px;
  padding: 0px 5px;
}

.surveyQuestion textarea {
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  padding: 5px 5px;
  background-color: transparent;
}

.requiredStar {
  color: #ff0000;
}

mat-icon {
  cursor: pointer;
}

.surveyQuestion mat-icon:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 5px inset #e6e6e6
}

mat-sidenav {
  color: #ffffff;
  padding: 20px 10px;
  background-color: #3F4752;
  width: 350px;
}

mat-sidenav-container {
  height: 100%;
}

.questionSettingsSideNavForm {
  display: flex;
  flex-direction: column;
}

mat-button-toggle-group {
  max-width: 50%;
}

.mat-button-toggle-checked {
  background-color: dodgerblue;
  color: #ffffff;
}

#exportButton {
  background-color: dodgerblue;
  color: #ffffff;
}

#questionOptionList {
  display: flex;
  align-items: center;
}

#addInputButton {
  border: none;
  background: none;
  color: #ffffff;
}

#smallT {
  font-size: 11px;
}

#mediumT {
  font-size: 16px;
}

#largeT {
  font-size: 24px;
}


#saveQuestionSettingsButton {
  background-color: dodgerblue;
  color: #ffffff;
  margin-top: 20px;
}

/* .divider {
  width: 80%;
  border-bottom: 1px solid #000000;
} */

.draggedButton {
  padding: 5px 0px;
}