
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent;
}